h1 {
	text-transform: uppercase;
	color: ;
}

body {
	font-family: 'MedievalSharp', cursive;
}

ul {
	list-style-type: none;
	padding: 0;
}

a.option {
	display: inline-block;
	text-decoration: none;
	color: white;
	background: #0074D9;
	border: 1px solid #001f3f;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	width: 12%;
}